.checklist-arrow em {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
}

.checklist-arrow em.arrowa {
    color: #ddd;
    left: 0;
}

.checklist-arrow em.arrowb {
    color: #f9f9f9;
    left: 1px;
}

.checklist {
    list-style: none;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #efefef;
    -moz-box-shadow: 1px 1px 1px #efefef;
    -webkit-box-shadow: 1px 1px 1px #efefef;
    background: #f9f9f9;
    width: 200px;
}

.checklist li {
    font-size: 12px;
}

.reg-sms {
    width: 258px;
    height: 208px;
    border: 1px solid #d1eeff;
    background-color: #f5fbff;

}

.reg-sms .reg-sms-title {
    margin: 0px;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e6edf2;
    font-size: 14px;
    color: #666;
}

.reg-sms-content p {
    color: #666;
    font-size: 12px;
    padding-top: 10px;
    margin-bottom: 5px;
    margin: 0 10px;
}